

.comment__new  {
    padding:20px 0 18px;
    margin-top: 32px;
    border:1px dashed rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    a{
        color:#000;
    }
}

.comment__wrapper {
    margin-top: 32px;
    
}

.commnet__title {
    font-size: 26px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 25px;
}